@import "src/common/style/variables";

.header {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  background-color: #171717;
  border-bottom: 1px solid #333333;
  z-index: 99;
  justify-content: center;

  .headerContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .email {
      color: $primaryFontColor;
      margin-right: 15px;
      font-size: 14px;
      opacity: 0.8;
    }

    button {
      height: 35px;
      width: 90px;
      color: $primaryFontColor;
      background-color: transparent;
      border: 1px solid $dark300;
      border-radius: 5px;
      transition: all 250ms ease-in-out;

      &:hover {
        color: $secondaryStyleColor;
        border: none;
        background-color: $dark500;
        cursor: pointer;
      }
    }

    h3 {
      color: $primaryFontColor;
      margin-left: 10px;
      font-family: Cambria, sans-serif;
      font-size: 20px;
      font-weight: 800;
    }
  }
}

@media screen and (max-width: 650px) {
  .email {
    display: none;
  }
}