

$primaryBgColor: #000000;
$primaryFontColor: #ffffff;

$primaryStyleColor: #16e0bd;
$primaryStyleColor: #16e0bd;

$secondaryStyleColor: #e66300;

$dark100: #808080;
$dark300: #4C4C4C;
$dark500: #333333;
$dark700: #171717;