@import "src/common/style/variables.scss";

.allTasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  background-color: $dark300;
  border-radius: 5px;
  min-height: 40px;
  padding: 2px 0 2px 0;
}

.CompletedTasks {
  background-color: $dark500;
  opacity: 0.3;
}

